
.body {
    font-family: Arial, sans-serif;
    margin-left:60px
    margin-top:60px
    margin-weight:60px

 }

.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.4);


     }
.modal-content {
background-color:  #f4f4f4;;
margin: 10px auto;
padding: ;
border: 1px solid #888;
width: 600px;
height: 1400px;
justify-content: center;
align-items: center;
display: flex;
justify-content: space-between;
border-radius: 10px;
 }

.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
margin-top: -20px;
margin-left: auto; /* Pousse le bouton de fermeture à droite */

 }
.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

button{
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    background-color: #eb7371;
    outline: none;
    cursor: pointer;
}
.div-bouton{
     margin-bottom:25px;
}
i{
margin-right:10px;
}



input[type="text"],
input[type="datetime-local"],
select {
  width: 100%; /* Remplir la largeur du formulaire */
  padding: 10px;
  /*margin: 10px 0;*/
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="submit"] {
  color: white; /* Texte blanc */
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  display: block; /* Pour centrer */
  margin: 0 auto; /* Centrer le bouton */
}

input[type="submit"] {
   background-color: #eb7371;/* Couleur rose plus foncé au survol */
}

h2{
margin-bottom: 30px;
}