<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.bootstrap5.css">
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/modal.css') }}" rel="stylesheet">

    <title>ProjetTracking - {% block title %}{% endblock %}</title>
</head>
<body class="_dark">
    {% block content %}{% endblock content %}

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.4/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.4/js/dataTables.bootstrap5.js"></script>
<script src="{{ url_for('static', filename='js/javascript.js') }}"></script>

    <!--
    espace pour ajouter le code javascript
    -->
    {% block javascripts %}{% endblock javascripts %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const body = document.querySelector("body"),
              modeToggle = document.getElementById("mode-toggle");

        modeToggle.addEventListener("change", () => {
            body.classList.toggle("dark", modeToggle.checked);
        });
    });

    //data table
    new DataTable('#example');

</script>
</body>
</html>