{% extends 'includes/base.html' %}


{% block title %}Employes{% endblock title %}

{% block content %}
<!--SIDEBAR-->
{% include 'includes/sidebar.html' %}
<!-- SIDEBAR -->

<section id="content">
    <!-- NAVBAR -->
    {% include 'includes/navbar.html' %}
    <!-- NAVBAR -->


    <!-- MAIN -->
    <main>
        <!-- <h1 class="title">Employes</h1>
         <ul class="breadcrumbs">
            <li><a href="#">Accueil</a></li>
            <li class="divider">/</li>
            <li><a class="active" href="#">Dashboard</a></li>
        </ul> -->
        <div class="div-bouton">
            <button data-bs-target="#exampleModal" data-bs-toggle="modal"><i class='bx bxs-plus-circle icon'></i>Créer
                un employe
            </button>
        </div>
        <!-- data Table -->
        <div class="title">
            <i class="uil uil-clock-three"></i>
            <span class="text">Listes des Employes</span>
        </div>

        <table class="table table-striped" id="example" style="width:100%">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>poste</th>
                <th>equipes</th>
            </tr>
            </thead>
            <tbody>
            {% for employe in employes %}
            <tr>
                <td>{{ employe.nom }}</td>
                <td>{{ employe.email }}</td>
                <td>{{ employe.poste }}</td>
                <td>{{ employe.equipe.nom}}</td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Poste</th>
                <th>Equipes</th>

            </tr>
            </tfoot>
        </table>
        <!-- data Table -->

        <!-- formulaire modal -->

        <form action="{{ url_for('main.modalemployes') }}" method="post">
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal"
                 tabindex="-1">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">employes</h5>
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                        </div>
                        <div class="modal-body">

                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1"> employe </label>
                                <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1"
                                       name="nom"
                                       type="text">
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1"> email </label>
                                <input aria-describedby="emailHelp" class="form-control" id="examplInputEmail1"
                                       name="email"
                                       type="email">
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1"> poste </label>
                                <input aria-describedby="emailHelp" class="form-control" id="exampInputEmail1"
                                       name="poste"
                                       type="text">

                                <div class="mb-3">
                            <label class="form-label" for="teamSelect"> equipes :</label>
                            <select class="form-select" id="teamSelect" name="equipes" required>

                                <option value="">Sélectionnez une equipe</option>
                                {% for equipe in equipes %}
                                <option value="{{ equipe.id }}">{{ equipe.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                            </div>
                        </div>



                        <div class="modal-footer">
                            <button button class="btn btn-secondary" data-bs-dismiss="modal"
                                    style="background-color: #D3D3D3;"
                                    type="button">Close
                            </button>
                            <button class="btn btn-primary" style="background-color: #eb7371; "
                                    type="submit">Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- formulaire modal -->
    </main>
    <!-- MAIN -->
</section>
{% endblock content %}

{% block javascripts %}
<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("openModal");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock javascripts %}







