{% extends 'includes/base.html' %}

{% block title %}Projets{% endblock title %}

{% block content %}
<!--SIDEBAR-->
{% include 'includes/sidebar.html' %}
<!-- SIDEBAR -->

<section id="content">
    <!-- NAVBAR -->
    {% include 'includes/navbar.html' %}
    <!-- NAVBAR -->


    <!-- MAIN -->
    <main>
        <h1 class="title" id="title">projets</h1>
        <!-- <ul class="breadcrumbs">
            <li><a href="#">Accueil</a></li>
            <li class="divider">/</li>
            <li><a class="active" href="#">Dashboard</a></li>
        </ul> -->
        <div class="div-bouton">
            <button data-bs-target="#exampleModal" data-bs-toggle="modal"><i class='bx bxs-plus-circle icon'></i>Créer
                un projet
            </button>
        </div>
        <!-- data Table -->
        <div class="title">
            <i class="uil uil-clock-three"></i>
            <span class="text">Listes des Projets</span>
        </div>

        <div class="container_m">

            {% for projet in projets %}
            <div class="project">
                <h3>Projet 1: {{ projet.nom }}</h3>
                <p><strong>Client:</strong> {{ projet.client }}</p>
                <p><strong>Date de Début:</strong> {{ projet.date_debut }}</p>
                <p><strong>Date de Fin:</strong> {{ projet.date_fin }}</p>
                <p><strong>Statut:</strong> Terminé</p>
                <div class="footer_m">
                    <p><strong>Réalisé par:</strong> {{ projet.equipe }}</p>
                    <button onclick="location.href='#avancement'">Voir plus</button>
                </div>

            </div>
            {% endfor%}
        </div>
        <!-- data Table -->

        <!-- formulaire modal -->
        <form action="{{ url_for('main.modalprojet') }}" method="post">
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal"
                 tabindex="-1">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Projet</h5>
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                        </div>
                        <div class="modal-body">

                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Nom du projet</label>
                                <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1"
                                       name="nom"
                                       type="text">
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">client</label>
                                <input aria-describedby="emailHelp" class="form-control" id="examplInputEmail1"
                                       name="client"
                                       type="text">
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Description</label>
                                <textarea class="form-control" id="projectDescription" name="description"
                                          rows="2"></textarea>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Date-Debut</label>
                                <input aria-describedby="emailHelp" class="form-control" name="date_debut"
                                       type="date">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Date-Fin</label>
                                <input aria-describedby="emailHelp" class="form-control" name="date_fin"
                                       type="date">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button button class="btn btn-secondary" data-bs-dismiss="modal"
                                    style="background-color: #D3D3D3;"
                                    type="button">Close
                            </button>
                            <button class="btn btn-primary" style="background-color: #eb7371; "
                                    type="submit">Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- formulaire modal -->

    </main>
    <!-- MAIN -->
</section>
{% endblock content %}

{% block javascripts %}
<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("openModal");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock javascripts %}







