{% extends 'includes/base.html' %}


{% block title %}Rapports{% endblock title %}

{% block content %}
<!--SIDEBAR-->
{% include 'includes/sidebar.html' %}
<!-- SIDEBAR -->

<section id="content">
    <!-- NAVBAR -->
    {% include 'includes/navbar.html' %}
    <!-- NAVBAR -->


    <!-- MAIN -->
    <main>
        <h1 class="title">Rapports</h1>
        <!-- <ul class="breadcrumbs">
            <li><a href="#">Accueil</a></li>
            <li class="divider">/</li>
            <li><a class="active" href="#">Dashboard</a></li>
        </ul> -->
        <!-- <div class="div-bouton">
             <button id="openModal"><i class='bx bxs-plus-circle icon'></i>Créer un employe</button>
         </div> -->
        <!-- data Table -->
        <div class="title">
            <i class="uil uil-clock-three"></i>
            <span class="text">Listes des Rapports</span>
        </div>


        <div class="container_m">
            {% for rapport in rapports %}
            <div class="project">

                <h3>Projet 1: {{ rapport.nom }}</h3>
                <p><strong>Client:</strong> {{ rapport.client }}</p>
                <p><strong>Date de Début:</strong>{{ rapport.date_debut }} </p>
                <p><strong>Date de Fin:</strong>{{ rapport.date_fin }} </p>
                <p><strong>Statut:</strong> Terminé</p>
                <div class="footer_m">
                    <p><strong>Réalisé par:</strong> {{ rapport.equipes }}</p>
                    <button onclick="location.href='#avancement'">Voir plus</button>
                </div>
            </div>
             {% endfor%}
        </div>

        <!-- data Table -->


    </main>
    <!-- MAIN -->
</section>
{% endblock content %}

{% block javascripts %}
<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("openModal");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock javascripts %}







