{% extends 'includes/base.html' %}


{% block title %}Rapports{% endblock title %}

{% block content %}
<!--SIDEBAR-->
{% include 'includes/sidebar.html' %}
<!-- SIDEBAR -->

<section id="content">
    <!-- NAVBAR -->
    {% include 'includes/navbar.html' %}
    <!-- NAVBAR -->


    <!-- MAIN -->
    <main>
        <h1 class="title">Rapports</h1>
        <!-- <ul class="breadcrumbs">
            <li><a href="#">Accueil</a></li>
            <li class="divider">/</li>
            <li><a class="active" href="#">Dashboard</a></li>
        </ul> -->
       <!-- <div class="div-bouton">
            <button id="openModal"><i class='bx bxs-plus-circle icon'></i>Créer un employe</button>
        </div> -->
        <!-- data Table -->
        <div class="title">
            <i class="uil uil-clock-three"></i>
            <span class="text">Listes des Rapports</span>
        </div>


        <div class="container_m">
            <div class="project">
                <h3>Projet 1: GESTION MEDICALE</h3>
                 <p><strong>Client:</strong> VICTOR</p>
                <p><strong>Date de Début:</strong> 01/03/2023</p>
                <p><strong>Date de Fin:</strong> 31/12/2023</p>
                <p><strong>Statut:</strong> Terminé</p>
                <div class="footer_m">
                    <p><strong>Réalisé par:</strong> LORY</p>
                    <button onclick="location.href='#avancement'">Voir plus</button>
                </div>

            </div>

            <div class="project">
                <h3>Projet 2: GESTION DES PROJETS</h3>
                <p><strong>Client:</strong> EMMANUEL</p>
                <p><strong>Date de Début:</strong> 01/07/2024</p>
                <p><strong>Date de Fin:</strong> 31/12/2024</p>
                <p><strong>Statut:</strong> À venir</p>
                <div class="footer_m">
                    <p><strong>Réalisé par:</strong> BLANCHE</p>
                    <button onclick="location.href='#avancement'">Voir plus</button>
                </div>
            </div>

            <div class="project">
                <h3>Projet 3: IMPLEMENTATION</h3>
                <p><strong>Client:</strong> SERGE</p>
                <p><strong>Date de Début:</strong> 01/01/2024</p>
                <p><strong>Date de Fin:</strong> 30/06/2024</p>
                <p><strong>Statut:</strong> Inachevé</p>
                <div class="footer_m">
                    <p><strong>Réalisé par:</strong> MELISSA</p>
                    <button onclick="location.href='#avancement'">Voir plus</button>
                </div>
            </div>

            <div class="project">
                <h3>Projet 4: RESTAURATION</h3>
                <p><strong>Client:</strong> MURIELLE</p>
                <p><strong>Date de Début:</strong> 01/01/2024</p>
                <p><strong>Date de Fin:</strong> 30/06/2024</p>
                <p><strong>Statut:</strong> En cours</p>
                <div class="footer_m">
                    <p><strong>Réalisé par:</strong> JACOB</p>
                    <button onclick="location.href='#avancement'">Voir plus</button>
                </div>
            </div>

            <div class="project">
                <h3>Projet 5: GESTION DES COLIS</h3>
                <p><strong>Client:</strong> DORIANE</p>
                <p><strong>Date de Début:</strong> 15/05/2024</p>
                <p><strong>Date de Fin:</strong> 15/11/2024</p>
                <p><strong>Statut:</strong> En cours</p>
                <div class="footer_m">
                    <p><strong>Réalisé par:</strong> Marie Curie</p>
                    <button onclick="location.href='#avancement'">Voir plus</button>
                </div>
            </div>

            <div class="project">
                <h3>Projet 6: GESTION DES TACHES</h3>
                <p><strong>Client:</strong> STELLA</p>
                <p><strong>Date de Début:</strong> 01/01/2025</p>
                <p><strong>Date de Fin:</strong> 31/12/2025</p>
                <p><strong>Statut:</strong> À venir</p>
                <div class="footer_m">
                    <p><strong>Réalisé par:</strong> ROGER</p>
                    <button onclick="location.href='#avancement'">Voir plus</button>
                </div>
            </div>
        </div>

        <!-- data Table -->




    </main>
    <!-- MAIN -->
</section>
{% endblock content %}

{% block javascripts %}
<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("openModal");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock javascripts %}







