{% extends 'includes/base.html' %}


{% block title %}Taches{% endblock title %}

{% block content %}
<!--SIDEBAR-->
{% include 'includes/sidebar.html' %}
<!-- SIDEBAR -->

<section id="content">
    <!-- NAVBAR -->
    {% include 'includes/navbar.html' %}
    <!-- NAVBAR -->


    <!-- MAIN -->
    <main>
        <h1 class="title" id="title">Taches</h1>
        <!-- <ul class="breadcrumbs">
            <li><a href="#">Accueil</a></li>
            <li class="divider">/</li>
            <li><a class="active" href="#">Dashboard</a></li>
        </ul> -->
        <div class="div-bouton">
            <button data-bs-target="#exampleModal" data-bs-toggle="modal"><i class='bx bxs-plus-circle icon'></i>Créer
                une tache
            </button>
        </div>
        <!-- data Table -->
        <div class="title">
            <i class="uil uil-clock-three"></i>
            <span class="text">Listes des Taches</span>
        </div>

        <table class="table table-striped" id="example" style="width:100%">
            <thead>
            <tr>
                <th>Nom de la tache</th>
                <th>Description</th>
                <th>Date-Debut</th>
                <th>Date-Fin</th>
                <th>Projet</th>
                <th>Employes</th>
            </tr>
            </thead>
            <tbody>
            {% for tache in taches %}
            <tr>
                <td>{{ tache.nom}}</td>
                <td>{{ tache.description }}</td>
                <td>{{ tache.date_debut }}</td>
                <td>{{ tache.date_fin }}</td>
                <td>{{ tache.projet }}</td>
                <td>{{ tache.employes }}</td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Nom de la tache</th>
                <th>Description</th>
                <th>Date-Debut</th>
                <th>Date-Fin</th>
                <th>Projet</th>
                <th>Employes</th>
            </tr>
            </tfoot>
        </table>
        <!-- data Table -->

        <!-- formulaire modal -->

        <form action="{{ url_for('main.modaltaches') }}" method="post">
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal"
                 tabindex="-1">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Taches</h5>
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                        </div>
                        <div class="modal-body">

                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Nom de la tache</label>
                                <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1"
                                       name="nom"
                                       type="text">
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Description</label>
                                <textarea class="form-control" id="projectDescription" name="description"
                                          rows="2"></textarea>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Date-Debut</label>
                                <input aria-describedby="emailHelp" class="form-control" name="date_debut"
                                       type="date">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Date-Fin</label>
                                <input aria-describedby="emailHelp" class="form-control" name="date_fin"
                                       type="date">
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="teamSelect">Projet :</label>
                                <select class="form-select" id="teaSelect" name="projet" required>
                                    <option value="">Sélectionnez un projet</option>
                                    <option>Développement d'une application mobile</option>
                                    <option>Refonte du site web</option>
                                    <option>Création d'un système de gestion de contenu</option>
                                    <option>Implémentation d'un CRM</option>
                                    <option>Migration vers le cloud</option>
                                    <option>Développement d'un logiciel de comptabilité</option>
                                    <option>Amélioration de la sécurité informatique</option>
                                </select>
                            </div>


                            <div class="mb-3">
                                <label class="form-label" for="teamSelect">employes :</label>
                                <select class="form-select" id="teamSelect" name="employes" required>
                                    <option value="">Sélectionnez un employe</option>
                                    <option>Jean Dupont</option>
                                    <option>Marie Curie</option>
                                    <option>Paul Martin</option>
                                    <option>Sophie Durand</option>
                                    <option>Lucas Petit</option>
                                    <option>Emma Bernard</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button button class="btn btn-secondary" data-bs-dismiss="modal"
                                    style="background-color: #D3D3D3;"
                                    type="button">Close
                            </button>
                            <button class="btn btn-primary" style="background-color: #eb7371; "
                                    type="submit">Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- formulaire modal -->
    </main>
    <!-- MAIN -->
</section>
{% endblock content %}

{% block javascripts %}
<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("openModal");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock javascripts %}







